{% extends "base.html" %} {% load static %} {% block content %}
<div class="container">
  <form method="post" id="formxxx">
    <div class="mb-3">
      <h1>ĐĂNG KÝ</h1>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">User Name</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" />
      <span class="err-pass"></span>
    </div>
    <button type="button" id="regis" class="btn btn-primary">Submit</button>
  </form>
</div>

<script>
 
  $(document).ready(function () {
    $("#regis").on("click", function () {
      let pass = $("#exampleInputPassword1").val();
      if(pass.length < 10){
        $(".err-pass").html("Loi password qua ngan");
      }else{
        $(".err-pass").html("");
        $("#formxxx").submit()
      }
    });
  });


</script>

{% endblock %}
